#commerce-ebay-sample-feed-results {
  display: none;
  border: 1px solid #c9c9c9;
  background: rgba(0, 183, 0, 0.31);
  padding: 10px;
  overflow-x: scroll;
}
#commerce-ebay-sample-feed-results.success {
  display: block;
}
